.container {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100%;
}
.goBackBtn {
  position: fixed;
  top: 12px;
  left: 12px;
  padding: 8px;
  background-color: goldenrod;
  border-radius: 8px;
  color: antiquewhite;
  font-size: 24px;
  font-weight: 700;
}
.link {
  color: goldenrod;
}
.isActive {
  color: brown;
}
.wrapper {
  display: flex;
  gap: 48px;
  margin-top: 24px;
}
.poster {
  width: 320px;
  height: 480px;
}
.box {
  padding: 16px;
  border: 2px solid goldenrod;
  border-radius: 8px;
}
.title {
  font-size: 36px;
  margin: 0 8px 56px;
  color: goldenrod;
}
.description {
  max-width: 720px;
  font-size: 18px;
  font-style: italic;
  margin-bottom: 56px;
}
.details {
  font-size: 18px;
  font-weight: bold;
  text-align: left;
}
.addInformation {
  font-size: 24px;
  margin-top: 48px;
  border-top: 2px solid goldenrod;
}
.list {
  margin: 0;
}
.item {
  font-size: 24px;
}
.item:hover,
.item:focus {
  color: brown;
}
